<%- include('../header.ejs') %>
    <h1>This is an index of my Pokemon</h1>
    <div class="container-fluid">
    <% for(let i = 0; i < pokes.length; i++) { %>
        <div class="row">
            <div class="col-sm-4"><a href="/pokemon/<%= i %>">
            <img src=<%= pokes[i].img %> alt="pokemon picture">
            <h3>Name: <%= pokes[i].name %></h3>
        </a></div> <% if (i % 3 == 0) { %> </div> <% } %>
    <% } %>
    </div>
</body>
</html>