<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(typeof name !== 'undefined') { %>
        <title><%= name %></title>
    <% } else { %>
        <title>Pokemon App</title>
    <% } %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav>
        <a href="/" class="btn btn-primary stretched-link">Home</a>
        <a href="/pokemon" class="btn btn-primary stretched-link">My Pokemon</a>
        <a href="/pokemon/new" class="btn btn-primary stretched-link">Make a new pokemon</a>
    </nav>